<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Banned?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email%></td>
        <td><%= user.banned.to_s %></td>
        <%if user.banned%>
          <%ban="Sban"%>
        <%else%>
          <%ban="Ban"%>
        <%end%>
        <%if !user.superadmin_role? and !user.supervisor_role?%>
          <td><%= link_to ban, "/ban/"+user.id.to_s %></td>
        <%end%>

      </tr>
    <% end %>
  </tbody>
</table>
