<% id=params[:id] %>

<% user=User.where("id=" + id).first %>

<tr>
  <h1>
    <%= image_tag(user.avatar_url, size: "100x100") if user.avatar? %>
    <%=user.name%>
  </h1>
</tr>

<% post=Post.where("user_id="+user.id.to_s) %>
<% post.each do |p| %>
  <% place=from_post_to_place(p) %>
  <%= link_to place.name, callback_url(p) %>
  <%= p.text %>
  <br>
<% end %>
