<tr>
  <h1><%=current_user.name%> </h1>
</tr>

Followed:
<% follower = Relationship.where("follower_id =" + current_user.id.to_s) %>
<% follower.each do |f|%>
  <% u=User.where("id =" + f.followed_id.to_s) %>
  <%= link_to u.first.name, "/profiles/"+u.first.id.to_s %>
<%end%>
<br>
<br>
Followers:
<% followed = Relationship.where("followed_id =" + current_user.id.to_s) %>
<% followed.each do |f|%>
  <% u=User.where("id =" + f.follower_id.to_s) %>
  <%= link_to u.first.name, "/profiles/"+u.first.id.to_s %>
<%end%>
