<center>
<h2>Editing Post</h2>
<% if sei_proprio_tu?(@post) %>
  <%= render 'form', post: @post %>
  <%= link_to 'Show', @post %> |
<% else %>
  Access Denied
<% end %>
<%= link_to 'Back', posts_path %>
</center>
